.authorizationPage {
    padding: 15px 20px;

    .imgCont {
        text-align: center!important;
        margin-bottom: 20px;

        img {
            width: 105px;
            height: 33px;
            object-fit: contain;
        }
    }

    .formCont {
        max-width: 350px;
        margin: auto;

        .inFormCont {
            max-width: 312px;
            margin: auto;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 14px 18px;
            margin-bottom: 20px;

            .formTitle {
                font-weight: 400;
                font-size: 28px;
                margin-bottom: 10px;
                padding-bottom: 5px;
            }

            form {
                display: flex;
                flex-direction: column;

                .fetchErrMessage {
                    margin-bottom: 10px;
                    font-size: 12px;
                    line-height: 15px;
                    color: #c40000
                }

                .formBox {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 15px;

                    label {
                        font-size: 13px;
                        line-height: 19px;
                        color: #111;
                        padding-left: 2px;
                        padding-bottom: 2px;
                        font-weight: 700;
                    }
    
                    input {
                        outline: none;
                        height: 28px;
                        font-size: 100%;
                        border: 1px solid #a6a6a6;
                        border-radius: 3px;
                        padding: 0 5px;
                        
                    }
    
                    input:focus {
                        border-color: #e77600;
                        box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
                    }
    
                    .errMessage {
                        margin-top: 5px;
                        font-size: 12px;
                        line-height: 15px;
                        color: #c40000;
                    }
                }
    
                .submitButton {
                    height: 30px;
                    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
                    border: 1px solid #a88734;
                    border-radius: 3px;
                    font-size: 13px;
                    color: #111;
                    margin-bottom: 25px;
                    cursor: pointer;
                }

                .submitButton:hover {
                    background: linear-gradient(to bottom,#f8d991,#f1bb30);
                    color: black;
                }
            }

            .CondNdPrivacy {
                font-size: 12px;
                margin-bottom: 25px;
                color: #111;
                line-height: 18px;
            }

            .signInCont {
                font-size: 13px;
                line-height: 19px;
                color: #111;
            }

        }

        .newToCont {
            text-align: center;
            position: relative;
            top: 2px;
            padding-top: 1px;
            margin-bottom: 14px;
            line-height: 0;
            font-weight: 400;

            span {
                line-height: 1;
                font-size: 12px;
                color: #767676;
                z-index: 2;
                position: relative;
                background-color: #fff;
                padding: 0 8px 0 7px;
            }
        }

        .newToCont::after {

            content: "";
            width: 100%;
            background-color: transparent;
            display: block;
            height: 1px;
            border-top: 1px solid #e7e7e7;
            position: absolute;
            top: 50%;
            margin-top: -1px;
            z-index: 1;
        }

        .createAccCont {
            height: 30px;
            border: 1px solid #adb1b8;
            border-radius: 3px;
            text-align: center;
            background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);

            a {
                text-decoration: none;
                .createAccBtn {
                    color: #111;
                    max-width: 350px!important;
                    height: 30px!important;
                    line-height: 30px;
                    font-size: 13px;
                }

            }
        }
        .errorCont {

            .errorBox {
                border-radius: 4px;
                border: 1px #8b6e00 solid;
                box-shadow: 0 0 0 4px #fffae7 inset;
                padding: 10px 30px;
                margin-bottom: 20px;

                .errTitle {
                    color: #8b6e00;
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                .errDescribe {
                    font-size: 13px;
                    color: #111;
                    line-height: 19px;
                    
                    .errEmail {
                        font-weight: bold;
                    }
                }
            }

            .linkCont {
                .linkBox {
                    margin: 25px 0;

                }

                .linkTitle {
                    font-size: 18px;
                    color: #111;
                    margin-bottom: 7px;
                }

                .link-normal {
                    font-size: 13px;
                }

                .link {
                    color: #0066c0;
                    text-decoration: none;
                    cursor: pointer;

                }

                .link:hover {
                    color: #CF6A18;
                    text-decoration: underline;
                }
            }
        }

    }


    .aboutCont {
        margin-top: 25px;
        text-align: center; 
        z-index: 1;
        content: "";

        .helpCont {
            padding-top: 20px;
            display: flex;
            justify-content: center;
            gap: 0 18px;
            margin-bottom: 10px;
        }

        .inc {
            font-size: 11px;
            color: #555;
        }
    }

    .shadowCont-inner {    
        height: 30px;
        margin-bottom: -18px;
        background: -webkit-linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
        background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
        z-index: 0;
        zoom: 1;

    }

    .shadowCont-inner::after {display: block;
        width: 100%;
        height: 30px;
        background-color: transparent;
        background: linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
        z-index: 1;
        content: "";
    }

    .A-type-1 {
        color: #0066c0;
        text-decoration: none;
        font-size: 12px;
    }

    .A-type-1:hover {
        text-decoration: underline;
    }
}