.productCont {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 30px;
    
    .prodContainer {
        display: flex;

        .leftCol {
            position: sticky;
            top: 4px;
            height: 100%;
            width: 50.0%; 
            display: flex;

            .images {
                width: 42px;

                .sImage {
                    height: 42px;

                    .img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .mainImgCont {

                .mainImg {
                    max-width: 685px;
                    max-height: 685px;
                }
            }
        }

        .centerCol {

            .productTitle {
                font-size: 24px;
                font-weight: 400;
            }

            .attrCont {

                .attrBox {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        
        .rightCol {

        }
    }
}