.cartPage {
    background-color: #EAEDED;
    padding: 14px 18px;
    min-height: 100px;
    display: flex;


    .cartProductsCont {
        margin-right: 20px;
        padding: 20px;
        flex-grow: 1;
        background-color: white;
        
        .cartTitle {
            font-size: 28px;
        }

        .forPrice {
            text-align: end;
            border-bottom: 1px solid #DDDDDD;
            color: #565959;
            font-size: 14px;
        }

        .cardsCont {

            .cardCont {
                display: flex;
                margin: 12px 0;
                border-bottom: 1px solid #DDDDDD;

                .mainCont {
                    flex-grow: 1;
                    display: flex;

                    .imgCont {

                        img {
                            width: 190px;
                            height: 180px;
                            object-fit: contain;
                        }
                    }

                    .describeCont {
                        width: 100%;

                        a {
                            text-decoration: none;

                            .title {
                                color: #0F1111;
                                font-size: 18px;
                            }
                        }

                        .inStock {
                            color: #007600;
                            font-size: 13px;
                        }

                        .detailCont {
                            display: flex;

                        }
                    }
                }

                .priceCont {
                    min-width: 120px;
                    text-align: end;

                }
            }
        }
    }

    .noProduct {
        margin-right: 20px;
        padding: 20px;
        flex-grow: 1;
        background-color: white;
        display: flex;

        .noProductImg {
            width: 31.948%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .rightCont {

            .buttonsCont {
                display: flex;
                
                .signInBtn {
    
                }

            }
        }
    }

    .totalPriceCont {
        background-color: white;
        width: 300px;
        height: 100%;
        padding-top: 20px;
        padding-bottom: 15px;

        .inTotalPriceCont {
            padding: 0 20px;

            .PriceText {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 5px;

                span {
                    font-weight: bold;
                }
            }

            button {
                height: 30px;
                border: 0;
                border-radius: 7px;
                width: 100%;
                background-color: #FFD816;
                color: #0F1111;
                font-size: 13px;
            }
        }
    }

    .dontShow {
        height: 0px;
        padding: 0;
        margin: 0;
    }
}