


.focActive {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #000;
    opacity: 0.6;
    width: 100%;
    display: block;
}

.focDeactive {
    display: none;
}

.navBar {
    color: white;
    position: relative;
    z-index: 999;
    .navTop {
        min-height: 60px;
        background-color: #131921;
        display: flex;
        align-items: center;
        width: 100%;

        .navLeft {
            display: flex;
            width: auto;

            .logo {
                width: 100px;
                height: 50px;
                margin-left: 12px;
                padding: 0 8px;
                
                img {
                    width: 100%;
                    margin-top: 12px;
                }
            }

            .deliverCont {
                display: flex;
                gap: 5px;
                align-items: center;
                padding: 0 8px;

                img {
                    margin-top: 5px;
                    height: 18px;
                }

                .dlvrTtl1 {
                    color: #ccc;   
                    font-size: 12px;
                    line-height: 14px;
                    height: 14px;
                    font-weight: 600;
                }

                .dlvrTtl2 {
                    color: #fff;
                    font-size: 14px;
                    line-height: 15px;
                    font-weight: 700;
                    
                }
            }


        }

        .navCenter {
            flex-grow: 1;
            width: auto;
            height: 40px;
            margin: 0 10px;
            border-radius: 5px;
            overflow: hidden; 

            form {
                width: 100%;
                height: 100%;
                display: flex;

                select {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    cursor: pointer;
                    background-color: #f3f3f3;
                    padding: 0 5px;
                    height: 100%;
                    outline: none;
                    color: #5F6869;
                    font-size: 13px;
                }
    
                input {
                    height: 100%;
                    flex-grow: 1;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    outline: none;
                    font-size: 18px;
                    padding: 0 10px;
                    min-width: 50px;
                }
            }

        }

        .navCenter:focus-within {
            
            outline: 3px solid #FF9900;
            border-radius: 4px;
        }

        .navRight {
            display: flex;
            align-items: center;
            
            .signInCont {
                height: 50px;
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .userCont1 {
                    .sgnT {
                        font-size: 12px;
                        line-height: 14px;
                        height: 14px;
                        font-weight: 400;
                        text-transform: capitalize;
                    }
    
                    .sgnB {
                        font-size: 14px;
                        line-height: 15px;
                        font-weight: 700;
                    }

                }
            }

            .cartCounterCont {
                height: 50px;
                display: flex;
                align-items: center;
                padding: 0 10px;
                margin-right: 10px;


                .cartCont {
                    display: flex;
                    position: relative;

                    .cartCount1 {
                        position: absolute;
                        left: 12px;
                        top: -5px;
                        font-size: 17px;
                        font-weight: 700;
                        color: #f08804;
                        width: 20px;
                        text-align: center;

                    }
                    .cartCount2 {
                        position: absolute;
                        left: 12px;
                        top: -4px;
                        font-size: 13px;
                        font-weight: 700;
                        color: #f08804;
                        width: 20px;
                        text-align: center;

                    }
                    
                    img {
                        width: 38px;
                        
                    }

                }

                .cartText {
                    font-size: 14px;
                    font-weight: 600;
                    margin-top: 10px

                }
            }

            a {
                text-decoration: none;
                color: white;
            }

        }
    }

    .outline-hov:hover {
        outline: 1px solid white;
        border-radius: 1px;
    }
}
