.navBar {
  color: white;
}
.navBar .navTop {
  height: 60px;
  background-color: #131921;
  display: flex;
  align-items: center;
  width: 100%;
}
.navBar .navTop .navLeft {
  display: flex;
  width: auto;
}
.navBar .navTop .navLeft .logo {
  width: 100px;
  background-image: url("../public/white-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.navBar .navTop .navCenter {
  display: flex;
  width: auto;
}
.navBar .navTop .navRight {
  display: flex;
  width: auto;
}
.navBar .navTop .navRight a {
  text-decoration: none;
  color: white;
}
.navBar .navBottom {
  background-color: #232F3E;
  display: flex;
}
.navBar .navBottom .navRight {
  display: flex;
  font-size: 14px;
  font-weight: 600;
}
.navBar .navBottom .navRight div {
  margin: 5px 0 6px 0;
  padding: 8px 9px;
}
.navBar .navBottom .navRight div:hover {
  box-shadow: 0 1px 0 0 white;
  /* Border bottom */
  box-shadow: 0 -1px 0 0 white;
  /* Border top */
  box-shadow: -1px 0 0 0 white;
  /* Border left */
  box-shadow: 1px 0 0 0 white;
  /* Border right */
  box-shadow: 0 0 0 1px white;
  /* All the borders by using the spread properties */
  border-radius: 1px;
  cursor: pointer;
}

.footer {
  background-color: #232F3E;
}
.footer .backToTop {
  text-align: center;
  align-items: center;
  background-color: #37475A;
  color: white;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  cursor: pointer;
}
.footer .backToTop:hover {
  background-color: #485769;
}
.footer .infoCont {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.footer .infoCont .infoBox {
  flex-basis: 220px;
}
.footer .infoCont .infoBox .infoTitle {
  font-weight: 700;
  color: #FFF;
  font-family: inherit;
  font-size: 16px;
  margin: 6px 0 14px 0;
  box-sizing: border-box;
}
.footer .infoCont .infoBox .infoCategory {
  line-height: 25px;
  color: #DDDDDD;
  font-size: 14px;
}
.footer .line {
  border-top: 1px solid #3a4553;
  margin-top: 40px;
}

.menuCont {
  background-color: #EAEDED;
}
.menuCont .bannerCont {
  max-width: 1500px;
  height: 230px;
  background-color: red;
  margin: 0 auto;
  position: relative;
  display: flex;
  text-align: center;
}
.menuCont .bannerCont .left {
  position: absolute;
  left: 1rem;
  width: 30px;
  line-height: 230px;
}
.menuCont .bannerCont .right {
  position: absolute;
  right: 1rem;
  width: 30px;
  line-height: 230px;
}
.menuCont .bannerCont .imageCont {
  position: absolute;
  height: 500px;
  width: 100%;
}
.menuCont .categoryLayout .cardsLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  max-width: 1480px;
  margin: 0 auto;
  padding: 20px 0;
}
.menuCont .categoryLayout .cardsLayout .card {
  max-width: 400px;
  height: 420px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.menuCont .categoryLayout .cardsLayout .card .title {
  font-size: 21px !important;
  line-height: 27.3px !important;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0 20px;
}
.menuCont .categoryLayout .cardsLayout .card .linkCont {
  padding: 0 20px;
  flex-grow: 1;
  margin-bottom: 24px;
}
.menuCont .categoryLayout .cardsLayout .card .linkCont .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menuCont .categoryLayout .cardsLayout .card .shopA {
  text-decoration: none;
  padding: 0 20px;
  margin-bottom: 20px;
}
.menuCont .categoryLayout .cardsLayout .card .shopA .shopNow {
  color: #007185;
  text-transform: capitalize;
  font-size: 13px !important;
}
.menuCont .categoryLayout .cardsLayout .card .catCont {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 2px;
}
.menuCont .categoryLayout .cardsLayout .card .catCont .catBox {
  width: 47.5%;
}
.menuCont .categoryLayout .cardsLayout .card .catCont .catBox .catTitle {
  font-size: 12px !important;
  line-height: 18px !important;
  color: #0F1111 !important;
}
.menuCont .categoryLayout .cardsLayout .card .catCont .catBox .catImg {
  object-fit: cover;
}

.productCont {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 30px;
}
.productCont .prodContainer {
  display: flex;
}
.productCont .prodContainer .leftCol {
  position: sticky;
  top: 4px;
  height: 100%;
  width: 50%;
  display: flex;
}
.productCont .prodContainer .leftCol .images {
  width: 42px;
}
.productCont .prodContainer .leftCol .images .sImage {
  height: 42px;
}
.productCont .prodContainer .leftCol .images .sImage .img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.productCont .prodContainer .leftCol .mainImgCont .mainImg {
  max-width: 685px;
  max-height: 685px;
}
.productCont .prodContainer .centerCol .productTitle {
  font-size: 24px;
  font-weight: 400;
}
.productCont .prodContainer .centerCol .attrCont .attrBox {
  display: flex;
  justify-content: space-between;
}
.categoryPage {
  max-width: 1500px;
  margin: 15px auto;
}
.categoryPage .titleCont {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-transform: capitalize;
  margin: 0 20px;
}
.categoryPage .cardsCont {
  margin: 0 20px;
}
.categoryPage .cardsCont .resultBox {
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  padding: 14px 18px !important;
  font-size: 15px;
  line-height: 20px;
  margin: 20px 0;
}
.categoryPage .cardsCont .resultBox span {
  color: #c45500;
  text-transform: capitalize;
  font-weight: 700;
}
.categoryPage .cardsCont .cardCont {
  display: grid;
  /* justify-items: center; */
  grid-template-columns: repeat(auto-fill, minmax(320px, auto));
}
.categoryPage .cardsCont .cardCont .cardBox {
  width: 308px;
  height: 460px;
  border-bottom: 2px solid #ddd;
  padding: 2px 6px 6px;
}
.categoryPage .cardsCont .cardCont .cardBox .card {
  flex-grow: 1;
  border: 1px solid #f5f5f5;
  height: 100%;
}
.categoryPage .cardsCont .cardCont .cardBox .card .imgCont {
  padding: 0 8px;
  margin-bottom: 8px;
  height: 290px;
}
.categoryPage .cardsCont .cardCont .cardBox .card .imgCont img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.categoryPage .cardsCont .cardCont .cardBox .card .titleA {
  margin-top: 8px;
  text-decoration: none;
}
.categoryPage .cardsCont .cardCont .cardBox .card .titleA .title {
  font-size: 16px !important;
  line-height: 24px !important;
  color: #0F1111 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 400 !important;
  font-style: normal !important;
  text-transform: none !important;
  text-decoration: none !important;
}

body {
  font-family: sans-serif;
}

/*# sourceMappingURL=App.css.map */
