@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.navBar {
  color: white;
}
.navBar .navTop {
  min-height: 60px;
  background-color: #131921;
  display: flex;
  align-items: center;
  width: 100%;
}
.navBar .navTop .navLeft {
  display: flex;
  width: auto;
}
.navBar .navTop .navLeft .logo {
  width: 100px;
  height: 50px;
  margin-left: 12px;
  padding: 0 8px;
}
.navBar .navTop .navLeft .logo img {
  width: 100%;
  margin-top: 12px;
}
.navBar .navTop .navLeft .deliverCont {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 0 8px;
}
.navBar .navTop .navLeft .deliverCont img {
  margin-top: 5px;
  height: 18px;
}
.navBar .navTop .navLeft .deliverCont .dlvrTtl1 {
  color: #ccc;
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  font-weight: 600;
}
.navBar .navTop .navLeft .deliverCont .dlvrTtl2 {
  color: #fff;
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
}
.navBar .navTop .navCenter {
  flex-grow: 1;
  width: auto;
  height: 40px;
  margin: 0 10px;
  border-radius: 5px;
  overflow: hidden;
}
.navBar .navTop .navCenter form {
  width: 100%;
  height: 100%;
  display: flex;
}
.navBar .navTop .navCenter form select {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 0 5px;
  height: 100%;
  outline: none;
  color: #5F6869;
  font-size: 13px;
}
.navBar .navTop .navCenter form input {
  height: 100%;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  min-width: 50px;
}
.navBar .navTop .navCenter:focus-within {
  outline: 3px solid #FF9900;
  border-radius: 4px;
}
.navBar .navTop .navRight {
  display: flex;
  align-items: center;
}
.navBar .navTop .navRight .signInCont {
  height: 50px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navBar .navTop .navRight .signInCont .userCont1 .sgnT {
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.navBar .navTop .navRight .signInCont .userCont1 .sgnB {
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
}
.navBar .navTop .navRight .cartCounterCont {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-right: 10px;
}
.navBar .navTop .navRight .cartCounterCont .cartCont {
  display: flex;
  position: relative;
}
.navBar .navTop .navRight .cartCounterCont .cartCont .cartCount1 {
  position: absolute;
  left: 12px;
  top: -5px;
  font-size: 17px;
  font-weight: 700;
  color: #f08804;
  width: 20px;
  text-align: center;
}
.navBar .navTop .navRight .cartCounterCont .cartCont .cartCount2 {
  position: absolute;
  left: 12px;
  top: -4px;
  font-size: 13px;
  font-weight: 700;
  color: #f08804;
  width: 20px;
  text-align: center;
}
.navBar .navTop .navRight .cartCounterCont .cartCont img {
  width: 38px;
}
.navBar .navTop .navRight .cartCounterCont .cartText {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
.navBar .navTop .navRight a {
  text-decoration: none;
  color: white;
}
.navBar .outline-hov:hover {
  outline: 1px solid white;
  border-radius: 1px;
}

.productSpecCont {
  height: 26px;
}
.productSpecCont .amazonChoice {
  position: relative;
  background-color: #232F3E;
  display: inline-block;
  height: 100%;
  line-height: 26px;
  color: #fff;
  padding: 0 5px 0 10px;
  font-size: 12px;
}
.productSpecCont .amazonChoice .choice {
  color: #F69931;
}
.productSpecCont .amazonChoice::after {
  content: "";
  width: 10px;
  height: 26px;
  border-right: 10px solid transparent;
  border-top: 26px solid;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: -10px;
  color: #232F3E;
}
.productSpecCont .bestSeller {
  position: relative;
  background-color: #E67A00;
  display: inline-block;
  height: 100%;
  line-height: 26px;
  color: #fff;
  padding: 0 5px 0 10px;
  font-size: 12px;
}
.productSpecCont .bestSeller::after {
  content: "";
  width: 10px;
  height: 26px;
  border-right: 10px solid transparent;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: transparent;
  border-top: 26px solid;
  border-top-width: 26px;
  border-top-style: solid;
  border-top-color: initial;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: -10px;
  color: #E67A00;
}

.qtyCont {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.qtyCont .qtySelect {
  font-size: 13px;
  line-height: 19px;
  height: 30px;
  width: 75px;
  padding: 3px 7px;
  border: 1px solid #C9CDCD;
  border-radius: 8px;
  background-color: #F0F2F2;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  outline: none;
  cursor: pointer;
}
.qtyCont .qtySelect option {
  font-size: 14px;
  cursor: pointer;
}
.qtyCont .qtyInput {
  font-size: 13px;
  line-height: 19px;
  height: 25px;
  width: 60px;
  padding: 3px 7px;
  border: 1px solid #888C8C;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(15, 17, 17, 0.15) inset;
  outline: 0;
  -webkit-appearance: none;
}
.qtyCont .qtyButton {
  font-size: 11px;
  height: 20px;
  width: 50x;
  background-color: #FFD814;
  border: 1px solid #FCD200;
  border-radius: 8px;
}

.errorPage .imgCont {
  text-align: center;
  margin: 30px 0;
}
.errorPage .imgCont a {
  display: block;
  text-align: center;
}
.errorPage .imgCont img {
  max-width: 90%;
}

.loaderCont {
  height: 70vh;
  text-align: center;
  align-items: center;
}
.loaderCont .lds-facebook {
  margin-top: 20vh;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loaderCont .lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: black;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loaderCont .lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loaderCont .lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loaderCont .lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.starCont img {
  width: 95px;
  height: 18px;
}

.line {
  height: 1px;
  background-color: #E7E7E7;
  margin: 10px 0;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.footer {
  background-color: #232F3E;
}
.footer .backToTop {
  background-color: #37475A;
  width: 100%;
  height: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
}
.footer .backToTop a {
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}
.footer .backToTop:hover {
  background-color: #485769;
}
.footer .footCont {
  cursor: pointer;
  margin: 0 30px;
}
.footer .footCont .infoCont {
  margin-top: 40px !important;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, auto));
  grid-gap: 40px 30px;
  min-height: 300px;
}
.footer .footCont .infoCont .gridBox {
  width: 100%;
}
.footer .footCont .infoCont .gridBox .infoBox {
  width: 210px;
  margin: 0 auto;
}
.footer .footCont .infoCont .gridBox .infoBox .infoTitle {
  font-weight: 700;
  color: #FFF;
  font-family: inherit;
  font-size: 16px;
  margin: 6px 0 14px 0;
  box-sizing: border-box;
}
.footer .footCont .infoCont .gridBox .infoBox .infoCategory {
  line-height: 25px;
  color: #DDDDDD;
  font-size: 14px;
}

.menuCont {
  background-color: #EAEDED;
}
.menuCont .bannerCont {
  max-width: 1500px;
  height: 230px;
  margin: 0 auto;
  position: relative;
  display: flex;
  text-align: center;
}
.menuCont .bannerCont .left-cont {
  position: absolute;
  left: 0px;
  width: 80px;
  line-height: 250px;
  cursor: pointer;
  z-index: 1;
}
.menuCont .bannerCont .left-cont .bannerArrow {
  width: 30px;
  height: 48px;
}
.menuCont .bannerCont .right-cont {
  position: absolute;
  right: 0px;
  width: 80px;
  line-height: 250px;
  cursor: pointer;
  z-index: 1;
}
.menuCont .bannerCont .right-cont .bannerArrow {
  width: 30px;
  height: 48px;
  transform: rotate(180deg);
}
.menuCont .bannerCont .slick-list {
  position: absolute;
  height: 600px;
  width: 100%;
  z-index: 0;
}
.menuCont .bannerCont .slick-list .imgBox {
  height: 600px;
  width: 100%;
}
.menuCont .categoryLayout .cardsLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, auto));
  justify-content: center;
  max-width: 1480px;
  margin: 0 auto;
  padding: 20px 0;
}
.menuCont .categoryLayout .cardsLayout .card {
  max-width: 400px;
  height: 395px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.menuCont .categoryLayout .cardsLayout .card .title {
  font-size: 21px !important;
  line-height: 27.3px !important;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0 20px;
}
.menuCont .categoryLayout .cardsLayout .card .linkCont {
  padding: 0 20px;
  flex-grow: 1;
  margin-bottom: 24px;
}
.menuCont .categoryLayout .cardsLayout .card .linkCont .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menuCont .categoryLayout .cardsLayout .card .shopA {
  text-decoration: none;
  padding: 0 20px;
  margin-bottom: 10px;
}
.menuCont .categoryLayout .cardsLayout .card .shopA .shopNow {
  color: #007185;
  text-transform: capitalize;
  font-size: 13px !important;
}
.menuCont .categoryLayout .cardsLayout .card .shopA .shopNow:hover {
  color: #DA8C6B;
  text-decoration: underline;
}
.menuCont .categoryLayout .cardsLayout .card .catCont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 2px;
  padding: 0 20px;
}
.menuCont .categoryLayout .cardsLayout .card .catCont .catBox {
  width: 47.5%;
}
.menuCont .categoryLayout .cardsLayout .card .catCont .catBox a {
  text-decoration: none;
  width: 100%;
  display: block;
}
.menuCont .categoryLayout .cardsLayout .card .catCont .catBox a .catTitle {
  font-size: 12px !important;
  line-height: 18px !important;
  color: #0F1111 !important;
}
.menuCont .categoryLayout .cardsLayout .card .catCont .catBox a .catImg {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.menuCont .categoryLayout .cardsLayout .card .catCont2 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 2px;
}
.menuCont .categoryLayout .cardsLayout .card .catCont2 .catBox2 {
  width: 45%;
  padding: 5px;
  position: relative;
}
.menuCont .categoryLayout .cardsLayout .card .catCont2 .catBox2 .catImg {
  margin: auto;
  height: 85px;
  width: 100%;
  object-fit: contain;
}
.menuCont .categoryLayout .cardsLayout .card .catCont2 .catBox2 .catTitle {
  height: 36px;
  font-size: 13px;
  text-align: center;
}
.menuCont .categoryLayout .cardsLayout .card .catCont2 .catBox2 .aTag {
  text-decoration: none;
  color: #007185;
  background-color: rgba(0, 164, 180, 0.05);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.menuCont .categoryLayout .cardsLayout .card .submitButton {
  border: none;
  outline: none;
  background-color: white;
  text-align: start;
  cursor: pointer;
}

.productCont {
  max-width: 1500px;
  min-height: 50vh;
  margin: 0 auto;
  margin-top: 30px;
}
.productCont .prodContainer {
  display: flex;
}
.productCont .prodContainer .leftCol {
  position: sticky;
  max-width: 600px;
  top: 4px;
  height: 100%;
  padding-left: 50px;
}
.productCont .prodContainer .leftCol .images {
  width: 40px;
  margin-left: -40px;
  float: left;
  position: relative;
  overflow: visible;
  zoom: 1;
  min-height: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productCont .prodContainer .leftCol .images .sImage {
  height: 42px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  cursor: pointer;
}
.productCont .prodContainer .leftCol .images .sImage .img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.productCont .prodContainer .leftCol .mainImgCont {
  margin-left: 10px;
  max-width: 600px;
}
.productCont .prodContainer .leftCol .mainImgCont .mainImg {
  max-width: 100%;
  max-height: 685px;
  object-fit: contain;
}
.productCont .prodContainer .centerCol .productTitle {
  font-size: 24px;
  font-weight: 400;
}
.productCont .prodContainer .centerCol .brand {
  color: #007185;
  text-transform: capitalize;
  margin: 10px 0;
}
.productCont .prodContainer .centerCol .starCont {
  margin: 5px 0;
}
.productCont .prodContainer .centerCol .priceCont {
  margin: 10px 0;
}
.productCont .prodContainer .centerCol .priceCont .price1 {
  color: #565959;
  font-size: 14px;
  letter-spacing: 0.4px;
}
.productCont .prodContainer .centerCol .priceCont .price2 {
  color: #B12704;
  font-size: 18px;
}
.productCont .prodContainer .centerCol .attrCont .attrBox {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.productCont .prodContainer .centerCol .attrCont .attrBox .id {
  font-size: 14px;
  line-height: 18px;
  color: #0F1111;
  font-weight: 600;
  width: 35%;
  padding-right: 3px;
}
.productCont .prodContainer .centerCol .attrCont .attrBox .value {
  font-size: 14px;
  line-height: 18px;
  color: #0F1111;
  width: 60%;
  padding-left: 3px;
}
.productCont .prodContainer .centerCol .description .about {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.productCont .prodContainer .centerCol .description ul {
  padding-inline-start: 20px;
  color: #0F1111;
}
.productCont .prodContainer .rightCol {
  height: 100%;
  border: 1px #D5D9D9 solid;
  border-radius: 8px;
}
.productCont .prodContainer .rightCol .inRightCol {
  padding: 14px 18px;
}
.productCont .prodContainer .rightCol .inRightCol .price {
  font-size: 28px;
}
.productCont .prodContainer .rightCol .inRightCol .price sup {
  font-size: 15px;
}
.productCont .prodContainer .rightCol .inRightCol .inStock {
  color: #007600;
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;
  margin: 10px 0;
}
.productCont .prodContainer .rightCol .inRightCol .outOfStock {
  color: #c42d07;
  font-size: 18px;
  line-height: 24px;
  margin: 10px 0;
}
.productCont .prodContainer .rightCol .inRightCol .qtyCont {
  margin: 10px 0;
}
.productCont .prodContainer .rightCol .inRightCol .addCartButton {
  width: 100%;
  height: 30px;
  cursor: pointer;
  text-transform: capitalize;
  background-color: #FFD816;
  border: none;
  border-radius: 19px;
  color: #0F1111;
  font-size: 14px;
  margin: 10px 0;
}
.productCont .prodContainer .rightCol .inRightCol .buttonInStock {
  width: 100%;
  height: 30px;
  cursor: not-allowed;
  text-transform: capitalize;
  border: none;
  border-radius: 19px;
  color: #0F1111;
  font-size: 14px;
  background-color: #9b9999;
  margin: 10px 0;
}
.productCont .prodContainer .rightCol .inRightCol .buttonInStock:hover {
  background-color: #b3b0b0;
}
.productCont .prodContainer .rightCol .inRightCol .addCartButton:hover {
  background-color: #f8d214;
}

.cartPage {
  background-color: #EAEDED;
  padding: 14px 18px;
  min-height: 50vh;
  display: flex;
  gap: 20px;
}
.cartPage .cartProductsCont {
  padding: 20px;
  flex-grow: 1;
  background-color: white;
}
.cartPage .cartProductsCont .cartTitle {
  font-size: 28px;
}
.cartPage .cartProductsCont .forPrice {
  text-align: end;
  border-bottom: 1px solid #DDDDDD;
  color: #565959;
  font-size: 14px;
}
.cartPage .cartProductsCont .cardsCont .cardCont {
  display: flex;
  margin: 12px 0;
  border-bottom: 1px solid #DDDDDD;
}
.cartPage .cartProductsCont .cardsCont .cardCont .mainCont {
  flex-grow: 1;
  display: flex;
  gap: 10px;
}
.cartPage .cartProductsCont .cardsCont .cardCont .mainCont .deleteButton {
  color: #007185;
  cursor: pointer;
  font-size: 13px;
}
.cartPage .cartProductsCont .cardsCont .cardCont .mainCont .describeCont {
  width: 100%;
}
.cartPage .cartProductsCont .cardsCont .cardCont .mainCont .describeCont a {
  text-decoration: none;
}
.cartPage .cartProductsCont .cardsCont .cardCont .mainCont .describeCont a .title {
  color: #0F1111;
  font-size: 18px;
  margin-bottom: 5px;
}
.cartPage .cartProductsCont .cardsCont .cardCont .mainCont .describeCont .inStock {
  color: #007600;
  font-size: 13px;
  line-height: 20px;
}
.cartPage .cartProductsCont .cardsCont .cardCont .mainCont .describeCont .starCont {
  margin: 5px 0;
}
.cartPage .cartProductsCont .cardsCont .cardCont .priceCont {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  min-width: 120px;
  text-align: end;
}
.cartPage .leftCont {
  margin-top: 10px;
  flex-grow: 1;
}
.cartPage .leftCont .noProduct {
  padding: 20px;
  background-color: white;
  min-height: 120px;
}
.cartPage .leftCont .noProduct .boxP {
  margin-top: 30px;
  display: flex;
}
.cartPage .leftCont .noProduct .boxP .noProductImg {
  width: 35.948%;
  height: 100%;
}
.cartPage .leftCont .noProduct .boxP .noProductImg img {
  width: 100%;
  min-height: 120px;
}
.cartPage .leftCont .noProduct .boxP .emptyCont .emptyTitle {
  font-weight: 700;
  font-size: 28px;
}
.cartPage .leftCont .noProduct .boxP .emptyCont .buttonsCont {
  display: flex;
  gap: 10px;
  margin: 16px 0;
}
.cartPage .leftCont .noProduct .boxP .emptyCont .buttonsCont .signInBtn {
  background: #FFD814;
  border-color: #FCD200;
  border-style: solid;
  width: 100%;
  height: 30px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  padding: 0 10px;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  color: #0F1111;
}
.cartPage .leftCont .noProduct .boxP .emptyCont .buttonsCont .signUpBtn {
  background: white;
  border: 1px solid #FCD200;
  width: 100%;
  height: 30px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  padding: 0 10px;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  color: #0F1111;
  border-color: #D5D9D9;
  border-style: solid;
}
.cartPage .leftCont .emptyBox {
  margin: 20px 0;
  width: 100%;
  height: 80px;
  background-color: white;
}
.cartPage .totalPriceCont {
  background-color: white;
  width: 300px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 15px;
}
.cartPage .totalPriceCont .inTotalPriceCont {
  padding: 0 20px;
}
.cartPage .totalPriceCont .inTotalPriceCont .PriceText {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 5px;
}
.cartPage .totalPriceCont .inTotalPriceCont .PriceText span {
  font-weight: bold;
}
.cartPage .totalPriceCont .inTotalPriceCont button {
  height: 35px;
  border: 0;
  border-radius: 7px;
  width: 100%;
  background-color: #FFD816;
  color: #0F1111;
  font-size: 13px;
}
.cartPage .dontShow {
  height: 0px;
  padding: 0;
  margin: 0;
}

.authorizationPage {
  padding: 15px 20px;
}
.authorizationPage .imgCont {
  text-align: center !important;
  margin-bottom: 20px;
}
.authorizationPage .imgCont img {
  width: 105px;
  height: 33px;
  object-fit: contain;
}
.authorizationPage .formCont {
  max-width: 350px;
  margin: auto;
}
.authorizationPage .formCont .cloner {
  margin: 30px 5px;
  color: #BB0A1E;
  text-transform: capitalize;
}
.authorizationPage .formCont .inFormCont {
  max-width: 312px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 14px 18px;
  margin-bottom: 20px;
}
.authorizationPage .formCont .inFormCont .formTitle {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.authorizationPage .formCont .inFormCont form {
  display: flex;
  flex-direction: column;
}
.authorizationPage .formCont .inFormCont form .fetchErrMessage {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 15px;
  color: #c40000;
}
.authorizationPage .formCont .inFormCont form .formBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.authorizationPage .formCont .inFormCont form .formBox label {
  font-size: 13px;
  line-height: 19px;
  color: #111;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
}
.authorizationPage .formCont .inFormCont form .formBox input {
  outline: none;
  height: 28px;
  font-size: 100%;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  padding: 0 5px;
}
.authorizationPage .formCont .inFormCont form .formBox input:focus {
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
}
.authorizationPage .formCont .inFormCont form .formBox .errMessage {
  margin-top: 5px;
  font-size: 12px;
  line-height: 15px;
  color: #c40000;
}
.authorizationPage .formCont .inFormCont form .submitButton {
  height: 30px;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border: 1px solid #a88734;
  border-radius: 3px;
  font-size: 13px;
  color: #111;
  margin-bottom: 25px;
  cursor: pointer;
}
.authorizationPage .formCont .inFormCont form .submitButton:hover {
  background: linear-gradient(to bottom, #f8d991, #f1bb30);
  color: black;
}
.authorizationPage .formCont .inFormCont .CondNdPrivacy {
  font-size: 12px;
  margin-bottom: 25px;
  color: #111;
  line-height: 18px;
}
.authorizationPage .formCont .inFormCont .signInCont {
  font-size: 13px;
  line-height: 19px;
  color: #111;
}
.authorizationPage .formCont .newToCont {
  text-align: center;
  position: relative;
  top: 2px;
  padding-top: 1px;
  margin-bottom: 14px;
  line-height: 0;
  font-weight: 400;
}
.authorizationPage .formCont .newToCont span {
  line-height: 1;
  font-size: 12px;
  color: #767676;
  z-index: 2;
  position: relative;
  background-color: #fff;
  padding: 0 8px 0 7px;
}
.authorizationPage .formCont .newToCont::after {
  content: "";
  width: 100%;
  background-color: transparent;
  display: block;
  height: 1px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  z-index: 1;
}
.authorizationPage .formCont .createAccCont {
  height: 30px;
  border: 1px solid #adb1b8;
  border-radius: 3px;
  text-align: center;
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
}
.authorizationPage .formCont .createAccCont a {
  text-decoration: none;
}
.authorizationPage .formCont .createAccCont a .createAccBtn {
  color: #111;
  max-width: 350px !important;
  height: 30px !important;
  line-height: 30px;
  font-size: 13px;
}
.authorizationPage .formCont .errorCont .errorBox {
  border-radius: 4px;
  border: 1px #8b6e00 solid;
  box-shadow: 0 0 0 4px #fffae7 inset;
  padding: 10px 30px;
  margin-bottom: 20px;
}
.authorizationPage .formCont .errorCont .errorBox .errTitle {
  color: #8b6e00;
  font-size: 18px;
  margin-bottom: 10px;
}
.authorizationPage .formCont .errorCont .errorBox .errDescribe {
  font-size: 13px;
  color: #111;
  line-height: 19px;
}
.authorizationPage .formCont .errorCont .errorBox .errDescribe .errEmail {
  font-weight: bold;
}
.authorizationPage .formCont .errorCont .linkCont .linkBox {
  margin: 25px 0;
}
.authorizationPage .formCont .errorCont .linkCont .linkTitle {
  font-size: 18px;
  color: #111;
  margin-bottom: 7px;
}
.authorizationPage .formCont .errorCont .linkCont .link-normal {
  font-size: 13px;
}
.authorizationPage .formCont .errorCont .linkCont .link {
  color: #0066c0;
  text-decoration: none;
  cursor: pointer;
}
.authorizationPage .formCont .errorCont .linkCont .link:hover {
  color: #CF6A18;
  text-decoration: underline;
}
.authorizationPage .aboutCont {
  margin-top: 25px;
  text-align: center;
  z-index: 1;
  content: "";
}
.authorizationPage .aboutCont .helpCont {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 0 18px;
  margin-bottom: 10px;
}
.authorizationPage .aboutCont .inc {
  font-size: 11px;
  color: #555;
}
.authorizationPage .shadowCont-inner {
  height: 30px;
  margin-bottom: -18px;
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.03) 3px, transparent);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.03) 3px, transparent);
  z-index: 0;
  zoom: 1;
}
.authorizationPage .shadowCont-inner::after {
  display: block;
  width: 100%;
  height: 30px;
  background-color: transparent;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
  z-index: 1;
  content: "";
}
.authorizationPage .A-type-1 {
  color: #0066c0;
  text-decoration: none;
  font-size: 12px;
}
.authorizationPage .A-type-1:hover {
  text-decoration: underline;
}

.categoryPage {
  max-width: 1500px;
  margin: 15px auto;
}
.categoryPage .titleCont {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-transform: capitalize;
  margin: 0 20px;
}
.categoryPage .cardsCont {
  margin: 0 20px;
}
.categoryPage .cardsCont .resultBox {
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  padding: 14px 18px !important;
  font-size: 15px;
  line-height: 20px;
  margin: 20px 0;
}
.categoryPage .cardsCont .resultBox .search {
  color: #c45500;
  font-weight: 700;
}
.categoryPage .cardsCont .resultBox .category {
  color: #c45500;
  text-transform: capitalize;
  font-weight: 700;
}
.categoryPage .cardsCont .cardCont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 320px));
}
.categoryPage .cardsCont .cardCont .cardBox {
  height: 460px;
  border-bottom: 2px solid #ddd;
  padding: 2px 6px 6px;
}
.categoryPage .cardsCont .cardCont .cardBox .card {
  flex-grow: 1;
  border: 1px solid #f5f5f5;
  height: 100%;
}
.categoryPage .cardsCont .cardCont .cardBox .card .productSpecCont {
  position: relative;
}
.categoryPage .cardsCont .cardCont .cardBox .card .productSpecCont::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.03;
  pointer-events: none;
}
.categoryPage .cardsCont .cardCont .cardBox .card .imgCont {
  padding: 0 8px;
  margin-bottom: 8px;
  height: 290px;
  position: relative;
}
.categoryPage .cardsCont .cardCont .cardBox .card .imgCont img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.categoryPage .cardsCont .cardCont .cardBox .card .imgCont::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.03;
  pointer-events: none;
}
.categoryPage .cardsCont .cardCont .cardBox .card .titleA {
  margin-top: 8px;
  text-decoration: none;
}
.categoryPage .cardsCont .cardCont .cardBox .card .titleA .title {
  font-size: 16px !important;
  line-height: 24px !important;
  color: #0F1111 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  font-weight: 400 !important;
  font-style: normal !important;
  text-transform: none !important;
  text-decoration: none !important;
}
.categoryPage .noResultCont {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1000px;
  height: 50vh;
}
.categoryPage .noResultCont .cont1 {
  margin: 30px 0;
  color: #0F1111;
}
.categoryPage .noResultCont .cont1 .noResult1 {
  font-size: 18px;
  line-height: 24px;
}
.categoryPage .noResultCont .cont1 .noResult2 {
  font-size: 14px;
  line-height: 20px;
}
.categoryPage .noResultCont .help {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.4;
}

.profilePage {
  margin: 0 auto;
}
.profilePage .profileTitle {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  margin: 35px 0;
}
.profilePage .boxCont .userCont {
  padding: 14px 18px;
  border: 1px #F0F2F2 solid;
  background-color: #F0F2F2;
  margin-top: 12px;
  border-radius: 8px;
}
.profilePage .boxCont .userCont .userName {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 30px;
}
.profilePage .boxCont .userCont .ggxq {
  font-size: 14px;
  line-height: 20px;
  color: #565959;
  font-weight: 600;
}
.profilePage .boxCont .box {
  padding: 14px 18px;
  border: 1px #D5D9D9 solid;
  margin-top: 12px;
  border-radius: 8px;
}
.profilePage .boxCont .box .line1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #0F1111;
  margin-bottom: 10px;
}
.profilePage .boxCont .box .line2 {
  margin-bottom: 16px;
  color: #565959;
}
.profilePage .boxCont .box .line3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 34px;
  color: #0F1111;
  display: flex;
  justify-content: space-between;
}
.profilePage .boxCont .box .line4 {
  color: #565959;
  font-size: 14px;
  line-height: 20px;
}
.profilePage .boxCont .pencilImg {
  width: 15px;
  height: 15px;
}
.profilePage .boxCont .logOutBtn {
  height: 30px;
  width: 150px;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border: 1px solid #a88734;
  border-radius: 3px;
  font-size: 13px;
  color: #111;
  margin: 20px auto 35px auto;
  display: block;
  cursor: pointer;
}

body {
  font-family: sans-serif;
}
body .amazonClone {
  text-align: center;
  align-items: center;
  background-color: #BB0A1E;
  color: white;
  text-transform: capitalize;
  padding: 3px 0;
}

.Button-A {
  width: 100%;
  height: 30px;
  cursor: pointer;
  text-transform: capitalize;
  background-color: #FFD816;
  border: none;
  border-radius: 19px;
  color: #0F1111;
  font-size: 14px;
}

.Button-A:hover {
  background-color: #f8d214;
}

@media only screen and (max-width: 12000px) {
  .navBar .navTop .navCenter .searchBtn {
    height: 100%;
    background-color: #febd69;
    background-image: none;
    border: none;
    width: 45px;
    height: 40px;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
  }
  .navBar .navTop .navCenter .searchBtn img {
    width: 40px;
    height: 40px;
    transform: rotate(270deg);
    object-fit: cover;
  }
  .navBar .navTop .navRight .userCont1 {
    display: block;
  }
  .navBar .navTop .navRight .userCont2 {
    display: none;
  }
  .navBar .navBottom {
    display: none;
  }

  .menuCont .bannerCont .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profilePage {
    width: 55%;
  }

  .productCont .prodContainer {
    gap: 20px;
  }
  .productCont .prodContainer .leftCol {
    min-width: 500px;
  }
  .productCont .prodContainer .centerCol {
    max-width: 400px;
  }
  .productCont .prodContainer .rightCol {
    max-width: 245px;
    margin-right: 5px;
  }
  .productCont .prodContainer .rightCol .inRightCol {
    min-width: 200px;
  }

  .cartPage .cartProductsCont .cardCont .mainCont .imgCont img {
    width: 190px;
    height: 180px;
    object-fit: contain;
  }
  .cartPage .cartProductsCont .cardCont .mainCont .imgCont .mobileQty {
    display: none;
  }
  .cartPage .cartProductsCont .cardCont .mainCont .describeCont .detailCont {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 7px 0;
  }
  .cartPage .cartProductsCont .cardCont .mainCont .describeCont .mobilePrice {
    display: none;
  }
  .cartPage .cartProductsCont .cardCont .priceCont {
    display: block;
  }
}
@media only screen and (max-width: 1099px) {
  .navBar .navTop {
    min-height: 50px;
  }
  .navBar .navTop .navLeft {
    height: 35px;
  }
  .navBar .navTop .navLeft .logo {
    height: 38px;
    width: 90px;
  }
  .navBar .navTop .navLeft .logo img {
    margin-top: 5px;
  }
  .navBar .navTop .navLeft .deliverCont {
    display: none;
  }
  .navBar .navTop .navCenter {
    height: 35px;
  }
  .navBar .navTop .navCenter .searchBtn img {
    width: 35px;
    height: 35px;
  }
  .navBar .navTop .navRight .signInCont {
    height: 38px;
    padding: 0 5px;
  }
  .navBar .navTop .navRight .cartCounterCont {
    height: 38px;
    padding: 0 5px;
  }
  .navBar .navTop .navRight .userCont1 {
    display: none;
  }
  .navBar .navTop .navRight .userCont2 {
    display: flex;
    align-items: center;
  }
  .navBar .navTop .navRight .userCont2 span {
    margin-right: 10px;
  }
  .navBar .navTop .navRight .userCont2 .userImg {
    width: 27px;
  }
  .navBar .navTop .navRight .cartText {
    display: none;
  }

  .menuCont .bannerCont {
    height: 160px;
  }
  .menuCont .bannerCont .imgBox img {
    height: 70%;
  }

  .profilePage {
    width: 70%;
  }

  .productCont .prodContainer {
    gap: 10px;
  }
  .productCont .prodContainer .leftCol {
    min-width: 320px;
  }
  .productCont .prodContainer .rightCol {
    max-width: 245px;
  }
  .productCont .prodContainer .rightCol .inRightCol {
    min-width: 180px;
  }
}
@media only screen and (max-width: 800px) {
  .navBar .navTop {
    background-color: #232F3E;
    display: grid;
    grid-gap: 5px;
    justify-content: space-between;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding-top: 5px;
  }
  .navBar .navTop .navCenter {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .navBar .navTop .navCenter #category {
    display: none;
  }
  .navBar .navTop .navRight {
    grid-column-end: 4;
  }
  .navBar .navBottom {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 10px;
    white-space: nowrap;
    background-color: #232F3E;
  }
  .navBar .navBottom a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  .navBar .navBottom::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .menuCont .bannerCont {
    display: none;
  }

  .profilePage {
    width: 90%;
  }

  .productCont {
    margin: 10px;
  }
  .productCont .prodContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .productCont .prodContainer .leftCol {
    max-width: 450px;
    min-width: 230px;
    padding-left: 40px;
    position: static;
  }
  .productCont .prodContainer .centerCol {
    max-width: 500px;
  }
  .productCont .prodContainer .rightCol {
    max-width: 500px !important;
    width: 100%;
    margin: 0;
  }
  .productCont .prodContainer .rightCol .inRightCol {
    padding: 10px 14px;
    max-width: 474px;
  }
  .productCont .prodContainer .rightCol .inRightCol .addCartButton {
    max-width: 472px;
  }

  .cartPage {
    display: flex;
    flex-direction: column-reverse;
    padding: 7px;
    gap: 10px;
  }
  .cartPage .cartProductsCont {
    padding: 10px;
  }
  .cartPage .cartProductsCont .cartTitle {
    display: none;
  }
  .cartPage .cartProductsCont .forPrice {
    display: none;
  }
  .cartPage .cartProductsCont .cardCont .mainCont .imgCont {
    display: flex;
    flex-direction: column;
  }
  .cartPage .cartProductsCont .cardCont .mainCont .imgCont img {
    width: 140px;
    height: 130px;
  }
  .cartPage .cartProductsCont .cardCont .mainCont .imgCont .mobileQty {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
  }
  .cartPage .cartProductsCont .cardCont .mainCont .describeCont .detailCont {
    display: none;
  }
  .cartPage .cartProductsCont .cardCont .mainCont .describeCont .mobilePrice {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }
  .cartPage .cartProductsCont .cardCont .priceCont {
    display: none;
  }
  .cartPage .totalPriceCont {
    width: 100%;
  }
  .cartPage .totalPriceCont .inTotalPriceCont {
    padding: 0 10px;
  }
}

/*# sourceMappingURL=App.css.map */
