@import "./layouts/header/Header.scss";
@import "./componenets/components.scss";
@import "./layouts/footer/Footer.scss";
@import "./pages/menu/Menu.scss";
@import "./pages/product/ProductPage.scss";
/* @import "./pages/category/CategoryPage.scss"; deprecated */
@import "./pages/cart/CartPage.scss";
@import "./pages/authorization/Authorization.scss";
@import "./pages/search/SearchPage.scss";
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import "./pages/profile/ProfilePage.scss";

body {
    font-family: sans-serif;
}



.Button-A {
    width: 100%;
    height: 30px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: #FFD816;
    border: none;
    border-radius: 19px;
    color: #0F1111;
    font-size: 14px;

}
.Button-A:hover {
    background-color: #f8d214;
}


@media only screen and (max-width: 12000px) {
    //header
    .navBar {
        .navTop {
            .navLeft {

            }

            .navCenter {
                
    
                .searchBtn {
                    height: 100%;
                    background-color: #febd69;
                    background-image: none;
                    border: none;
                    width: 45px;
                    height: 40px;
                    padding: 0;
                    margin: 0;
                    outline: none;
                    cursor: pointer;
    
                    img {
                        width: 40px;
                        height: 40px;
                        transform: rotate(270deg);
                        object-fit: cover;
                    }
                }

            }

            .navRight {

                .userCont1 {
                    display: block;
                }

                .userCont2 {
                    display: none
                }

            }
        }
        .navBottom {
            display: none;
        }
    }

    .menuCont {
        .bannerCont {
            .imgBox {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .profilePage {
        width: 55%;
    }

}

@media only screen and (max-width: 1099px) {
    //header
    .navBar {
        .navTop {
            min-height: 50px;
            .navLeft {

                .logo {
                    height: 38px;
                    width: 90px;

                    img {
                        margin-top: 5px;
                    }
                
                }
                height: 35px;
                .deliverCont {
                    display: none;
                }

            }

            .navCenter {
                height: 35px;

                .searchBtn {
                    img {
                        width: 35px;
                        height: 35px;
                    }
                }

            }

            .navRight {
                .signInCont {
                    height: 38px;
                    padding: 0 5px
                }

                .cartCounterCont {
                    height: 38px;
                    padding: 0 5px;
                }
                

                .userCont1 {
                    display: none
                }

                .userCont2 {
                    display: flex;
                    align-items: center;

                    span {
                        margin-right: 10px;
                    }

                    .userImg {
                        width: 27px;
                    }
                }

                .cartText{
                    display: none;
                }
                
            }
        }
    }

    .menuCont {
        .bannerCont {
            height: 160px;

            .imgBox {

                img {
                    height: 70%;
                }
            }
        }
    }
    .profilePage {
        width: 70%;
    }
    
}

@media only screen and (max-width: 800px) {
    //header
    .navBar {
        .navTop {
            background-color: #232F3E;
            display: grid;
            grid-gap: 5px;
            justify-content: space-between;
            grid-template-columns: auto ;
            grid-template-rows: auto  ;
            padding-top: 5px;

            .navLeft {

            }

            .navCenter {
                grid-row-start: 2;
                grid-column-start: 1;
                grid-column-end: 4;
                
                #category {
                    display: none;
                }

            }

            .navRight {
                grid-column-end: 4;
                
            }
        }
        .navBottom {
            display: flex;
            overflow-x: auto;
            gap: 15px;
            padding: 10px;
            white-space: nowrap;
            background-color:#232F3E;

            a {
                color: white;
                text-decoration: none;
                font-size: 14px;
            }

        }

        .navBottom::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    .menuCont {
        .bannerCont {
            display: none;
        }
    }

    .profilePage {
        width: 90%;
    }
}