@import "./layouts/header/Header.scss";
@import "./componenets/components.scss";
@import "./layouts/footer/Footer.scss";
@import "./pages/menu/Menu.scss";
@import "./pages/product/ProductPage.scss";
@import "./pages/cart/CartPage.scss";
@import "./pages/authorization/Authorization.scss";
@import "./pages/search/SearchPage.scss";
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import "./pages/profile/ProfilePage.scss";

body {
    font-family: sans-serif;
}



.Button-A {
    width: 100%;
    height: 30px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: #FFD816;
    border: none;
    border-radius: 19px;
    color: #0F1111;
    font-size: 14px;

}
.Button-A:hover {
    background-color: #f8d214;
}


@media only screen and (max-width: 12000px) {
    .navBar {
        .navTop {
            .navLeft {

            }

            .navCenter {
                
    
                .searchBtn {
                    height: 100%;
                    background-color: #febd69;
                    background-image: none;
                    border: none;
                    width: 45px;
                    height: 40px;
                    padding: 0;
                    margin: 0;
                    outline: none;
                    cursor: pointer;
    
                    img {
                        width: 40px;
                        height: 40px;
                        transform: rotate(270deg);
                        object-fit: cover;
                    }
                }

            }

            .navRight {

                .userCont1 {
                    display: block;
                }

                .userCont2 {
                    display: none
                }

            }
        }
        .navBottom {
            display: none;
        }
    }

    .menuCont {
        .bannerCont {
            .imgBox {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .profilePage {
        width: 55%;
    }

    .productCont {
        
        .prodContainer {
            gap: 20px;

            .leftCol {
                min-width: 500px
            }
            
            .centerCol {
                max-width: 400px;
            }
            
            .rightCol {
                max-width: 245px;
                margin-right: 5px;
                .inRightCol {
                    min-width: 200px;

                }
            }
        }
    }

    .cartPage {

        .cartProductsCont {
            .forPrice {
            }

            .cardCont {
                .mainCont {
                    .imgCont {
                        img {
                            width: 190px;
                            height: 180px;
                            object-fit: contain;
                        }
                        .mobileQty {
                            display: none;
                        }
                    }
                    .describeCont {

                        .detailCont {
                            display: flex;
                            align-items: center;
                            gap: 15px;
                            margin: 7px 0;
                        }
                        .mobilePrice {
                            display: none;
                        }
                    }
                }
                .priceCont {
                    display: block;
                }
            }
        }
    }

}

@media only screen and (max-width: 1099px) {
    .navBar {
        .navTop {
            min-height: 50px;
            .navLeft {

                .logo {
                    height: 38px;
                    width: 90px;

                    img {
                        margin-top: 5px;
                    }
                
                }
                height: 35px;
                .deliverCont {
                    display: none;
                }

            }

            .navCenter {
                height: 35px;

                .searchBtn {
                    img {
                        width: 35px;
                        height: 35px;
                    }
                }

            }

            .navRight {
                .signInCont {
                    height: 38px;
                    padding: 0 5px
                }

                .cartCounterCont {
                    height: 38px;
                    padding: 0 5px;
                }
                

                .userCont1 {
                    display: none
                }

                .userCont2 {
                    display: flex;
                    align-items: center;

                    span {
                        margin-right: 10px;
                    }

                    .userImg {
                        width: 27px;
                    }
                }

                .cartText{
                    display: none;
                }
                
            }
        }
    }

    .menuCont {
        .bannerCont {
            height: 160px;

            .imgBox {

                img {
                    height: 70%;
                }
            }
        }
    }
    .profilePage {
        width: 70%;
    }

    .productCont {
        
        .prodContainer {
            gap: 10px;
            
            .leftCol {
                min-width: 320px
            }
            
            .rightCol {
                max-width: 245px;
                .inRightCol {
                    min-width: 180px;

                }
            }
        }
    }
    
}

@media only screen and (max-width: 800px) {
    .navBar {
        .navTop {
            background-color: #232F3E;
            display: grid;
            grid-gap: 5px;
            justify-content: space-between;
            grid-template-columns: auto ;
            grid-template-rows: auto  ;
            padding-top: 5px;

            .navCenter {
                grid-row-start: 2;
                grid-column-start: 1;
                grid-column-end: 4;
                
                #category {
                    display: none;
                }

            }

            .navRight {
                grid-column-end: 4;
                
            }
        }
        .navBottom {
            display: flex;
            overflow-x: auto;
            gap: 15px;
            padding: 10px;
            white-space: nowrap;
            background-color:#232F3E;

            a {
                color: white;
                text-decoration: none;
                font-size: 14px;
            }

        }

        .navBottom::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    .menuCont {
        .bannerCont {
            display: none;
        }
    }

    .profilePage {
        width: 90%;
    }

    .productCont {
        margin: 10px;
        .prodContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .leftCol {
                max-width: 450px;
                min-width: 230px;
                padding-left: 40px;
                position: static
            }
            .centerCol {
                max-width: 500px;
            }

            .rightCol {
                max-width: 500px!important;
                width: 100%;
                margin: 0;

                .inRightCol {
                    padding: 10px 14px;
                    max-width: 474px;

                    .addCartButton {
                        max-width: 472px;
                    }
                    
                }
            }
        }
    }

    .cartPage {
        display: flex;
        flex-direction: column-reverse;
        padding: 7px;
        gap: 10px;

        .cartProductsCont {
            padding: 10px;

            .cartTitle {
                display: none;
            }
            .forPrice {
                display: none;
            }

            .cardCont {
                .mainCont {
                    .imgCont {
                        display: flex;
                        flex-direction: column;
                        img {
                            width: 140px;
                            height: 130px;
                        }

                        .mobileQty {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            padding: 10px 0;
                        }
                    }
                    .describeCont {
                        .detailCont {
                            display: none;
                        }
                        .mobilePrice {
                            display: block;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 24px;
                        }
                    }
                }
                .priceCont {
                    display: none;
                }
            }
        }

        .totalPriceCont {
            width: 100%;

            .inTotalPriceCont {
                padding: 0 10px;
            }
        }
    }
}