
.menuCont {
    background-color: #EAEDED;
    
    .bannerCont {
        max-width: 1500px;
        height: 230px;
        background-color: red;
        margin: 0 auto;
        position: relative;
        display: flex;
        text-align: center;

        .left {
            position: absolute;
            left: 1rem;
            width: 30px;
            line-height: 230px;
        }

        .right {
            position: absolute;
            right: 1rem;
            width: 30px;
            line-height: 230px;
        }

        .imageCont {
            position: absolute;
            height: 500px;
            width: 100%;
        }
    }

    .categoryLayout {
        
        .cardsLayout {
            display: flex;
            flex-wrap: wrap;
            max-width: 1480px;
            margin: 0 auto;
            padding: 20px 0;

            .card {
                flex-basis: 290px;
                max-width: 400px;
                height: 420px;
                padding: 0 10px;
                flex-grow: 1;
                background-color: white;
                padding-top: 20px;
                padding-bottom: 15px;
                box-shadow: 1px 1px black;
                position: relative;

                .title {
                    font-size: 21px!important;
                    line-height: 27.3px!important;
                    font-weight: 700;
                    margin-bottom: 10px;
                }

                .catCont {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .catBox {
                        width: 47.5%;

                        .catTitle {
                            font-size: 12px!important;
                            line-height: 18px!important;
                            color: #0F1111!important;
                        }
                    }
                }
            }
        }
    }
}